*{
    font-family: "Comic Sans MS", Helvetica, sans-serif;
}
body{
    font-size: 11pt;
    margin-left: 2em;
    margin-right: 2em;
}
h1{
    color: teal;
}
label{
    float: left;
    width: 6em;
    margin-bottom: 0.5em;
}
input[type="text"], input[type="email"]{
    width: 15em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
br{
    clear: both;
}
.button, .btnHome{
    padding: 8px 10px;
    width: 120px;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.button{
    background: linear-gradient(90deg, #a7e05f, #12ab97);
    margin-left: 0.5em;
}

.btnHome{
    background: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
    margin-left: 7em;
    margin-top: 10px;
}

.button:hover{
    background: linear-gradient(90deg, #12ab97, #111);
}

.btnHome:hover{
    background: linear-gradient(to right, #7873f5 0%, #111111  100%);
}