<?xml version="1.0" encoding="UTF-8"?>
<!--<Context>-->
<!--    <WatchedResource>WEB-INF/web.xml</WatchedResource>-->
<!--    <WatchedResource>WEB-INF/tomcat-web.xml</WatchedResource>-->
<!--    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>-->
<!--    -->
<!--    <Resource name="jdbc/jdbc_ch11" auth="Container"-->
<!--              driverClassName="com.mysql.jdbc.Driver"-->
<!--              url="jdbc:mysql://mysql-26a3e4b3-lehoanglinhan04-40e3.d.aivencloud.com:28833/jdbc_ch11?autoReconnect=true"-->
<!--              username="avnadmin" password="AVNS_OTp-IRMeLkE16zRhHEm"-->
<!--              maxActive="100" maxIdle="30" maxWait="10000"-->
<!--              logAbandoned="true" removeAbandoned="true"-->
<!--              removeAbandonedTimeout="60" type="javax.sql.DataSource" />-->

<!--</Context>-->

<Context>
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>WEB-INF/tomcat-web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>

    <Resource name="jdbc/jdbc_ch11" auth="Container"
          type="javax.sql.DataSource"
          driverClassName="com.mysql.cj.jdbc.Driver"
          url="jdbc:mysql://mysql-26a3e4b3-lehoanglinhan04-40e3.d.aivencloud.com:28833/jdbc_ch11?autoReconnect=true"
          username="avnadmin"
          password="AVNS_OTp-IRMeLkE16zRhHEm"
          maxActive="100"
          maxIdle="30"
          maxWait="10000"
          logAbandoned="true"
          removeAbandoned="true"
          removeAbandonedTimeout="60"/>

</Context>