* {
    font-family: "Comic Sans MS", Helvetica, sans-serif;
}

h1 {
    color: teal;
}

table {
    /*padding: 8px 10px;*/
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2px solid lightgray;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    /*background-color: #dddddd;*/
}

.btnAdd, input[type="submit"]{
    padding: 8px 10px;
    margin-left: 0.5em;
    background: linear-gradient(90deg, #a7e05f, #12ab97);
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btnAdd:hover, input[type="submit"]:hover{
    background: linear-gradient(90deg, #12ab97, #111);
}