* {
    font-family: "Comic Sans MS", Helvetica, sans-serif;
}

h1 {
    color: teal;
}

table {
    /*padding: 8px 10px;*/
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2px solid lightgray;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    /*background-color: #dddddd;*/
}