<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
        http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--Email-->
    <servlet>
        <servlet-name>EmailEx</servlet-name>
        <servlet-class>Email.EmailListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmailEx</servlet-name>
        <url-pattern>/emailEx</url-pattern>
    </servlet-mapping>
    <!--Ch06-->
    <servlet>
        <servlet-name>Ch05Ex1</servlet-name>
        <servlet-class>Ch05.ex1.Ch05ex1Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ch05Ex1</servlet-name>
        <url-pattern>/Ch05ex1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ch05Ex2</servlet-name>
        <servlet-class>Ch05.ex2.Ch05ex2Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ch05Ex2</servlet-name>
        <url-pattern>/Ch05x2</url-pattern>
    </servlet-mapping>
    <!--Ch06-->
    <servlet>
        <servlet-name>Ch06Ex1</servlet-name>
        <servlet-class>Ch06.ex1.Ch06ex1Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ch06Ex1</servlet-name>
        <url-pattern>/Ch06ex1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ch06Ex2</servlet-name>
        <servlet-class>Ch06.ex2.Ch06ex2Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ch06Ex2</servlet-name>
        <url-pattern>/Ch06ex2</url-pattern>
    </servlet-mapping>
    <!--Ch08-->
    <servlet>
        <servlet-name>Ch08Ex1</servlet-name>
        <servlet-class>Ch08.EmailListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ch08Ex1</servlet-name>
        <url-pattern>/Ch08ex1</url-pattern>
    </servlet-mapping>
    <!--Ch09-->
    <servlet>
        <servlet-name>Ch09Ex1</servlet-name>
        <servlet-class>Ch09.DownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ch09Ex1</servlet-name>
        <url-pattern>/Ch09ex1</url-pattern>
    </servlet-mapping>
    <!--JDBCCon1-->
    <servlet>
        <servlet-name>JDBCCon1</servlet-name>
        <servlet-class>DBCon1.sql</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JDBCCon1</servlet-name>
        <url-pattern>/SQLGateway</url-pattern>
    </servlet-mapping>
    <!--JDBCCon2-->
    <servlet>
        <servlet-name>JDBCCon2</servlet-name>
        <servlet-class>DBCon2.emailList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JDBCCon2</servlet-name>
        <url-pattern>/DBCon2</url-pattern>
    </servlet-mapping>
    <!--javaMail-->
    <servlet>
        <servlet-name>JavaMail</servlet-name>
        <servlet-class>JavaMail.EmailListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JavaMail</servlet-name>
        <url-pattern>/javaMail</url-pattern>
    </servlet-mapping>
    <!--JPA-->
    <servlet>
        <servlet-name>JPA</servlet-name>
        <servlet-class>JPA.emailList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JPA</servlet-name>
        <url-pattern>/jpa</url-pattern>
    </servlet-mapping>
    <!--Survey-->
    <servlet>
        <servlet-name>Survey</servlet-name>
        <servlet-class>Survey.surveyform.SurveyList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Survey</servlet-name>
        <url-pattern>/survey</url-pattern>
    </servlet-mapping>
    <!--Cart-->
    <servlet>
        <servlet-name>CartExercise</servlet-name>
        <servlet-class>Cart.Ch07CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartExercise</servlet-name>
        <url-pattern>/cart-exercise</url-pattern>
    </servlet-mapping>


<!--    <servlet>-->
<!--        <servlet-name>SurveyList</servlet-name>-->
<!--        <servlet-class>Survey.surveyform.SurveyList</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>SurveyList</servlet-name>-->
<!--        <url-pattern>/emailList</url-pattern>-->
<!--    </servlet-mapping>-->
<!--    &lt;!&ndash;Ch05ex1&ndash;&gt;-->
<!--    <servlet>-->
<!--        <servlet-name>Ch05ex1</servlet-name>-->
<!--        <servlet-class>Ch05.ex1.Ch05ex1Servlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>Ch05ex1</servlet-name>-->
<!--        <url-pattern>/Ch05ex1</url-pattern>-->
<!--    </servlet-mapping>-->
<!--    &lt;!&ndash;Ch05ex2&ndash;&gt;-->
<!--    <servlet>-->
<!--        <servlet-name>Ch05ex2</servlet-name>-->
<!--        <servlet-class>Ch05.ex2.Ch05ex2Servlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>Ch05ex2</servlet-name>-->
<!--        <url-pattern>/Ch05ex2</url-pattern>-->
<!--    </servlet-mapping>-->


    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Web/webView.html</welcome-file>
    </welcome-file-list>

</web-app>